<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF8">
    <title>RING JACKET</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
    　　<h1>RING JACKET</h1>
    </header>
    <nav></nav>
    <main>
      <% @inputs.each do |input| %>
        <p>特別ご優待　NO.<%= input.id %></p>
      <% end %>
    </main>
    <aside>
      <% @inputs.each do |input| %>
        <h2>発行日:<%= input.created_at.strftime("%Y年%m月%d日") %></h2>
      <% end %>
    </aside>
    <footer>
      <h4>ご利用注意事項</h4>
        <ul>
          <li>店頭の商品を10％ご優待価格にてご案内させていただきます。</li>
          <li>新規のご来店のお客様にご利用頂けます。</li>
          <li>有効期限は発行日より６ヶ月間となります。　
          <li>その他の割引との併用はできません。</li>
        </ul>

      <h4>ご利用可能店舗</h4>
        <ul>
          <li>RING JACKET MEISTER 206 淀屋橋店</li>
          <li>RING JACKET MEISTER 206 青山店</li>
          <li>RING JACKET MEISTER 銀座店</li>
          <li>RING JACKET MEISTER 博多阪急店</li>
          <li>RING JACKET グランフロント大阪店</li>
          <li>RING JACKET 伊勢丹メンズ店</li>
        </ul>
      <%= link_to "Back", :back %>
    </footer>
  </body>
</html>