<div class="header">
  <div class="inner-header">
    <h1 class="title">
     RING JACKET 
    </hi>
  </div>
</div>
<div class="main">
  <div class="message-wrap">
    <p>入力完了しました</p>
    <p>ご紹介Noは、</p>
    <%= link_to '【back】', :back %>
  </div>
</div>