<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF8">
    <title>RING JACKET</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <ul class="snsbtniti">
        <li><a href="http://www.ringjacket.co.jp/" class="flowbtn17 fl_tw2"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC5fcUOLV_vHPCVhCXc6Dujw" class="flowbtn17 fl_yu2"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/ring_jacket/?hl=ja" class="flowbtn17 insta_btn2"><i class="fab fa-instagram"></i></a></li>
        <li><a href="FacebookページのURL" class="flowbtn17 fl_fb2"><i class="fab fa-facebook-f"></i></a></li>
      </ul>
      <h1 href="http://www.ringjacket.co.jp">RING JACKET</h1>
    </header>
    <nav></nav>
    <main>
      <h3></h3>
      <%= form_with(model: @input, local: true) do |form| %>
        <%= form.text_field :code, placeholder: "プロモーションコードを入力してください" %>
        <%= form.submit "送信" %>
      <% end %>
    </main>
    <aside></aside>
    <footer>
    </footer>

  </body>
</html>