html{
  font-size: 62.5%;
}


body{
  background-color: rgb(255, 255, 255);
  background:radial-gradient(at left top, rgb(255, 255, 255) 20%, rgba(222, 196, 152, 0.997) 100%);
}


h2{
  margin-top: 5%;
  text-align: center;
}

/*=header=*/

header h1{
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 4.0rem;
}

header a{
  text-decoration: none;
  text-align: center;
  margin-left: 2.0%;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-size: 4.0rem;
}

/*=SNS link=*/

header .sns_link ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 30% 0 30%;
}

header #logo{
  height: 25px;
  width: 25px;
}

/*=sign link=*/

.sign_link{
  text-align: center;
  margin-top: 2%;
  font-size: 2.0rem;
}

.sign_link .post{
  padding: 0 1% 0 1%;
  background-color: #e6e6e697;
  border-radius: 10px;
  padding: 0.5% 1.0% 0.5% 1.0%;
}

.sign_link a{
  font-size: 2.0rem;
}

/*=form=*/

form {
  margin-top: 2%;
  text-align: center;
}

.field{
  margin-top: 3;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;
}


label{
  text-align: center;
}

input[type="email" i]{
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 3px solid #000000;
  background-color: rgba(255, 255, 255, 0.343);
}

input[type="password" i]{
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 3px solid #000000;
  background-color: rgba(255, 255, 255, 0.343);
}

input[type="text"] {
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;
}

input[type="submit"] {
  border-radius: 15px 15px 15px 15px;
  margin:0 0 0 2%;
}

.actions{
  margin-left: auto;
  margin-right: auto;
}


/*=レイアウト=*/

#wrapper{
	position: relative;
	display: flex;
	flex-wrap: wrap;
  margin-top: 5%;
}

/*左エリア*/
#fixed-area{
  position: -webkit-sticky;
  position: sticky;
  top:0;
	width: 50%;
	height: 100vh;
}

/*右エリア*/
#container{
	width:50%;
}

/*＝レスポンシブ＝*/

@media screen and (max-width:768px){
#wrapper{
	display: block;
}
#fixed-area{
 	position:relative!important;
	width:100%;
	height: 40vh;
}
#container{
	width:100%;
}
}