body {
  font-size: 2rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template:
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 700px
  "... ...... ...... ...... ...... ...... ..." 10px
  "... left   ...... center ...... right  ..." 160px
  "... ...... ...... ...... ...... ...... ..." 10px
  "... footer footer footer footer footer ..." 700px
  "... ...... ...... ...... ...... ...... ..."
  / auto 250px 20px 580px 20px 250px auto; 
  
}

header {
  grid-area: header;
  z-index: 1;
}

h1 {
  font-family: serif;
  margin: 450px auto;
  width: 480px;
  justify-content: center;
}

h2 {
  font-size: 5px;
  font-family: serif;
  margin: 90% 0 auto;
}

p {
  font-family: serif;
  margin: 50px 50px 170px 170px;
  width: 300px;
  justify-content: center;
}

main {
  grid-area: center;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  background-color: transparent;
  height: 160px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 2;
}

form {
  margin-top: 25px;
  margin-left: 5px;
  text-align: center;
  width: 550px;
}

input[type="text"] {
  width: 400px;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
}

input[type="submit"] {
  width: 100px;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
}

nav {
  grid-area: left;
}

aside {
  grid-area: right;
}

footer {
  grid-area: footer;
  font-size: 20px;
}
h4 {
  text-decoration: underline;
  font-family: serif;
}
h5 {
  width: 50px;
  margin: 0 auto;
  display: block;
  justify-content:center;
  font-family: serif;
}
ul.snsbtniti {
  margin: 50px 50px;
  font-family: serif;
  text-align: right;
}
li {
  display: inline;
}

h1 {
	-webkit-animation: h1 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: h1 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

