body {
  font-size: 2rem;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template:
  "... ...... ...... ...... ...... ...... ..." 
  "... header header header header header ..." 250px
  "... ...... ...... ...... ...... ...... ..." 10px
  "... left   ...... center ...... right  ..." 1fr
  "... ...... ...... ...... ...... ...... ..." 10px
  "... footer footer footer footer footer ..." 250px
  "... ...... ...... ...... ...... ...... ..."
  / auto 150px 10px minmax(300px, 1fr) 10px 150px auto; 

}

header {
  grid-area: header;
}

main {
  grid-area: center;
}

nav {
  grid-area: left;
}

aside {
  grid-area: right;
}

footer {
  grid-area: footer;
}